          <section class="styles_hero__6YYl9" aria-label="Hero">
            <div class="styles_characterContainer__AEkJs" role="presentation">
              <div
                class="styles_bloomCharacter__WcTaQ"
                role="img"
                aria-label="Bloom character animation"
                style="opacity: 1; transform: rotate(10deg)"
              >
                <div class="" style="width: 200px; height: 200px">
                  <canvas
                    width="200"
                    height="200"
                    style="vertical-align: top; width: 200px; height: 200px"
                  ></canvas>
                </div>
              </div>
              <div
                class="styles_luluCharacter__dSlFp"
                role="img"
                aria-label="Lulu character animation"
                style="opacity: 1; transform: rotate(10deg)"
              >
                <div class="" style="width: 150px; height: 150px">
                  <canvas
                    width="150"
                    height="150"
                    style="vertical-align: top; width: 150px; height: 150px"
                  ></canvas>
                </div>
              </div>
            </div>
            <div class="styles_phoneContainer__EM78P" role="presentation">
              <div
                class="styles_phoneFrame__0CzsE"
                style="opacity: 1; transform: none"
              >
                <img
                  alt="Abode app interface preview showing the main features and design"
                  loading="eager"
                  width="316"
                  height="535"
                  decoding="async"
                  data-nimg="1"
                  srcset="
                    /_next/image?url=%2Fscreen.jpg&amp;w=384&amp;q=90 1x,
                    /_next/image?url=%2Fscreen.jpg&amp;w=640&amp;q=90 2x
                  "
                  src="https://www.abode.space/_next/image?url=%2Fscreen.jpg&amp;w=640&amp;q=90"
                  style="color: transparent"
                />
              </div>
            </div>
            <div class="styles_cloudContainer__UO8_V styles_clouds__jZrTf">
              <div
                style="opacity: 1; transform: translateX(50px) rotate(-11deg)"
              >
                <img
                  alt="Cloud"
                  loading="lazy"
                  width="366"
                  height="210"
                  decoding="async"
                  data-nimg="1"
                  src="https://www.abode.space/cloud_left.svg"
                  style="color: transparent"
                />
              </div>
              <div
                style="opacity: 1; transform: translateX(-50px) rotate(4deg)"
              >
                <img
                  alt="Cloud"
                  loading="lazy"
                  width="388"
                  height="191"
                  decoding="async"
                  data-nimg="1"
                  src="https://www.abode.space/cloud_right.svg"
                  style="color: transparent"
                />
              </div>
            </div>
            <div class="styles_textContainer__QJCgv">
              <h1 class="visually-hidden">Abode - Your Space, Your Friends</h1>
              <div
                class="styles_heading___nxoL __className_8f055a"
                style="
                  font-size: 72px;
                  line-height: normal;
                  --highlight-color: #3474ff;
                "
              >
                <div class="styles_line__AtbiL">
                  <div class="styles_word__qvqhv">
                    <span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >Y</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >o</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >u</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >r</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                    >
                    </span>
                  </div>
                  <div class="styles_word__qvqhv">
                    <span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >s</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >p</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >a</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >c</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >e</span
                    >
                  </div>
                </div>
                <div class="styles_line__AtbiL">
                  <div class="styles_word__qvqhv styles_highlight__O7Maa">
                    <span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >Y</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >o</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >u</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >r</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                    >
                    </span>
                  </div>
                  <div class="styles_word__qvqhv styles_highlight__O7Maa">
                    <span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >f</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >r</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >i</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >e</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >n</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >d</span
                    ><span
                      class="styles_letter__ZSd0R"
                      style="opacity: 1; transform: none"
                      >s</span
                    >
                  </div>
                </div>
              </div>
              <p class="styles_tagline__oDhJj" style="opacity: 1">
                The best way to hang out on your phone.
              </p>
              <div style="opacity: 1; transform: none">
                <button
                  class="styles_button__u37yd styles_black__nWntv styles_large__qIyNN __className_97e3ca"
                  aria-label="Download Abode on the App Store"
                  aria-disabled="false"
                  role="button"
                  tabindex="0"
                >
                  <img
                    alt=""
                    aria-hidden="true"
                    loading="lazy"
                    width="16"
                    height="20"
                    decoding="async"
                    data-nimg="1"
                    src="https://www.abode.space/apple.svg"
                    style="color: transparent"
                  />Download on iOS
                </button>
              </div>
            </div>
          </section>
